// Font
$font-serif: 'Times', 'Times new roman', serif;
$font-ss: 'Arial', 'Helvetica', sans-serif;
$font-text: 'poppins', sans-serif;

// Color
$mainColor: #F3F3F3;
$secondaryColor: #0ba7c8;
$ultracolor: #666666;

// Breackpoint
$bp-tablet: 600px;
$bp-desktop: 949px;
$bp-desktop-large: 1200px;
$bp-desktop-x-large: 1800px;
