$font-serif: 'Times', 'Times new roman', serif;
$font-ss: 'Arial', 'Helvetica', sans-serif;
$font-title: 'Cabin', sans-serif;
$font-text: 'Poppins', sans-serif;

//Color
$mainColor: #F1F1F1;
$secondaryColor: #000;
$ultraColor: #EAE151;

//Breakpoint
$bp-tablet: 660px;
$bp-desktop: 949px;
$bp-desktop-large: 1200px;
$bp-desktop-x-large: 1800px;
