.body {
  background-image: url("../../imgs/background.png");

  .goback {
    height: 46px;
    display: flex;
    align-items: center;

    &_container {
      background-image: url("../../imgs/backImg.png");
      width: 45px;
      height: 16px;
      margin-left: 15px;
      @media screen and (min-width: 1366px) {
        margin-left: 222px;
      }
    }
  }

  .account {
    .account_mainContainer {
      .account_titleContainer {
        background: rgba(227,227,227,0.28);

        .account_mainTitle {
          font-family: 'Poppins';
          font-size: 24px;
          letter-spacing: 1.5px;
          padding: 20px 0;
          margin-left: 48px;
          @media screen and (min-width: 1366px) {
            margin-left: 222px;
          }
        }
      }

      .account_actions {
        &_list {
          margin-left: 48px;
          margin-top: 24px;
          margin-bottom: 24px;
          @media screen and (min-width: 1366px) {
            margin-left: 528px;
          }

          &-item {
            margin-bottom: 27px;

            &-link {
              font-family: 'Poppins';
              font-size: 13px;
              letter-spacing: 1.5px;
              color: #000;
            }
          }
        }
      }
    }
  }

  .personalInformations {
    .personalInformations_mainContainer {
      .personalInformations_titleContainer {
        background: rgba(227,227,227,0.28);

        .personalInformations_mainTitle {
          font-family: 'Poppins';
          font-size: 24px;
          letter-spacing: 1.5px;
          padding: 20px 0;
          margin-left: 48px;
          @media screen and (min-width: 1366px) {
            margin-left: 222px;
          }
        }
      }

      .personalInformations_actions {
        &_list {
          margin-left: 48px;
          margin-top: 24px;
          margin-bottom: 24px;
          @media screen and (min-width: 1366px) {
            margin-left: 528px;
          }

          &-item {
            margin-bottom: 27px;

            &-link {
              font-family: 'Poppins';
              font-size: 13px;
              letter-spacing: 1.5px;
              color: #000;
            }
          }
        }

        .personalInformations_actions_post {
          &-button {
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 1.5px;
            color: #000;
            border: 3px solid #000;
            width: 104px;
            height: 37px;
            margin-left: 48px;
            background: #fff;
            @media screen and (min-width: 1366px) {
              margin-left: 528px;
            }
          }
        }
      }
    }
  }
}