{% extends 'base.html.twig' %}

{% block title %}New Xenomorph{% endblock %}

{% block body %}
    <h1>Create new Xenomorph</h1>

    {{ include('xenomorph/_form.html.twig') }}

    <a href="{{ path('xenomorph_index') }}">back to list</a>
{% endblock %}